[submodule "client/src/vendor/logger"]
    path = client/src/vendor/logger
    url = https://github.com/jojojames/log.lua
[submodule "client/src/vendor/luaunit"]
    path = client/src/vendor/luaunit
    url = https://github.com/bluebird75/luaunit.git
[submodule "client/src/vendor/websockets/lua-websockets"]
    path = client/src/vendor/websockets/lua-websockets
    url = https://github.com/lipp/lua-websockets
[submodule "client/src/vendor/lovetoys"]
	path = client/src/vendor/lovetoys
	url = https://github.com/lovetoys/lovetoys
