<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_blue1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,12}</string>
                <key>spriteSourceSize</key>
                <string>{17,12}</string>
                <key>textureRect</key>
                <string>{{1,1},{17,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_blue2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,12}</string>
                <key>spriteSourceSize</key>
                <string>{17,12}</string>
                <key>textureRect</key>
                <string>{{20,1},{17,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_blue3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,12}</string>
                <key>spriteSourceSize</key>
                <string>{17,12}</string>
                <key>textureRect</key>
                <string>{{39,1},{17,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bird_blue.png</string>
            <key>size</key>
            <string>{57,14}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05554ddedab58fe81135b52c673d059f:57f4f0a0a20887d185be50f05de341b7:207982590c1c3670f5815353a7413766$</string>
            <key>textureFileName</key>
            <string>bird_blue.png</string>
        </dict>
    </dict>
</plist>
